flow.json
[
    {
        "id": "mqtt_in_sensor",
        "type": "mqtt in",
        "z": "flow1",
        "name": "Receive Water Level",
        "topic": "water/level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_pet",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 150,
        "y": 120,
        "wires": [["json_parser"]]
    },
    {
        "id": "json_parser",
        "type": "json",
        "z": "flow1",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "x": 340,
        "y": 120,
        "wires": [["water_gauge", "water_chart", "auto_switch", "debug_water"]]
    },
    {
        "id": "water_gauge",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Water Level Gauge",
        "group": "dashboard_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Level (%)",
        "label": "%",
        "format": "{{msg.payload.level}}",
        "min": 0,
        "max": 100,
        "x": 580,
        "y": 80,
        "wires": []
    },
    {
        "id": "water_chart",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Water Level Chart",
        "group": "dashboard_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Water Level History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": ["#000000"],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 580,
        "y": 120,
        "wires": [[]]
    },
    {
        "id": "auto_switch",
        "type": "switch",
        "z": "flow1",
        "name": "Auto Control Pump",
        "property": "payload.level",
        "propertyType": "msg",
        "rules": [
            { "t": "lt", "v": "30", "vt": "num" },
            { "t": "gte", "v": "90", "vt": "num" }
        ],
        "checkall": "true",
        "repair": false,
        "x": 350,
        "y": 200,
        "wires": [["pump_on"], ["pump_off"]]
    },
    {
        "id": "pump_on",
        "type": "change",
        "z": "flow1",
        "name": "Turn Pump ON (Auto)",
        "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "ON", "tot": "str" }],
        "x": 580,
        "y": 180,
        "wires": [["mqtt_out_pump", "pump_status"]]
    },
    {
        "id": "pump_off",
        "type": "change",
        "z": "flow1",
        "name": "Turn Pump OFF (Auto)",
        "rules": [{ "t": "set", "p": "payload", "pt": "msg", "to": "OFF", "tot": "str" }],
        "x": 580,
        "y": 220,
        "wires": [["mqtt_out_pump", "pump_status"]]
    },
    {
        "id": "manual_on",
        "type": "ui_button",
        "z": "flow1",
        "name": "Manual ON",
        "group": "dashboard_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pump ON (Manual)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-power-off",
        "payload": "ON",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 260,
        "wires": [["mqtt_out_pump", "pump_status"]]
    },
    {
        "id": "manual_off",
        "type": "ui_button",
        "z": "flow1",
        "name": "Manual OFF",
        "group": "dashboard_group",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pump OFF (Manual)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-power-off",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "",
        "x": 330,
        "y": 300,
        "wires": [["mqtt_out_pump", "pump_status"]]
    },
    {
        "id": "mqtt_out_pump",
        "type": "mqtt out",
        "z": "flow1",
        "name": "Send Pump Command",
        "topic": "water/pump",
        "qos": "",
        "retain": "",
        "broker": "mqtt_broker_pet",
        "x": 800,
        "y": 200,
        "wires": []
    },
    {
        "id": "pump_status",
        "type": "ui_text",
        "z": "flow1",
        "group": "dashboard_group",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Pump Status",
        "label": "Pump State:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 810,
        "y": 240,
        "wires": []
    },
    {
        "id": "debug_water",
        "type": "debug",
        "z": "flow1",
        "name": "Debug Water Level",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full"
    },
    {
        "id": "mqtt_broker_pet",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "77cc33d43e4b436a9e5614150a6050bb.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "tls_config_pet",
        "clientid": "",
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false"
    },
    {
        "id": "tls_config_pet",
        "type": "tls-config",
        "name": "HiveMQ TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Smart Water System",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Pet Care Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
