flow.json
[
    {
        "id": "mqtt_in_sensor",
        "type": "mqtt in",
        "z": "168235b08353b25f",
        "name": "Receive Water Level",
        "topic": "water/level",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "mqtt_broker_pet",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 270,
        "y": 760,
        "wires": [
            [
                "json_parser"
            ]
        ]
    },
    {
        "id": "json_parser",
        "type": "json",
        "z": "168235b08353b25f",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "x": 530,
        "y": 760,
        "wires": [
            [
                "water_gauge",
                "auto_switch",
                "debug_water",
                "ccc8828ccecfa2be"
            ]
        ]
    },
    {
        "id": "water_gauge",
        "type": "ui_gauge",
        "z": "168235b08353b25f",
        "name": "Water Level Gauge",
        "group": "dashboard_group",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Water Level (%)",
        "label": "%",
        "format": "{{msg.payload.level}}",
        "min": 0,
        "max": 100,
        "x": 810,
        "y": 520,
        "wires": []
    },
    {
        "id": "water_chart",
        "type": "ui_chart",
        "z": "168235b08353b25f",
        "name": "Water Level Chart",
        "group": "dashboard_group",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Water Level History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#000000"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 1070,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "auto_switch",
        "type": "switch",
        "z": "168235b08353b25f",
        "name": "Auto Control Pump",
        "property": "payload.level",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lt",
                "v": "30",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "90",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 810,
        "y": 760,
        "wires": [
            [
                "pump_on"
            ],
            [
                "pump_off"
            ]
        ]
    },
    {
        "id": "pump_on",
        "type": "change",
        "z": "168235b08353b25f",
        "name": "Turn Pump ON (Auto)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "ON",
                "tot": "str"
            }
        ],
        "x": 1080,
        "y": 700,
        "wires": [
            [
                "mqtt_out_pump",
                "pump_status"
            ]
        ]
    },
    {
        "id": "pump_off",
        "type": "change",
        "z": "168235b08353b25f",
        "name": "Turn Pump OFF (Auto)",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "OFF",
                "tot": "str"
            }
        ],
        "x": 1080,
        "y": 1000,
        "wires": [
            [
                "mqtt_out_pump",
                "pump_status"
            ]
        ]
    },
    {
        "id": "manual_on",
        "type": "ui_button",
        "z": "168235b08353b25f",
        "name": "Manual ON",
        "group": "dashboard_group",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pump ON (Manual)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-power-off",
        "payload": "ON",
        "payloadType": "str",
        "topic": "",
        "x": 1330,
        "y": 800,
        "wires": [
            [
                "mqtt_out_pump",
                "pump_status"
            ]
        ]
    },
    {
        "id": "manual_off",
        "type": "ui_button",
        "z": "168235b08353b25f",
        "name": "Manual OFF",
        "group": "dashboard_group",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Pump OFF (Manual)",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "fa-power-off",
        "payload": "OFF",
        "payloadType": "str",
        "topic": "",
        "x": 1330,
        "y": 900,
        "wires": [
            [
                "mqtt_out_pump",
                "pump_status"
            ]
        ]
    },
    {
        "id": "mqtt_out_pump",
        "type": "mqtt out",
        "z": "168235b08353b25f",
        "name": "Send Pump Command",
        "topic": "water/pump",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker_pet",
        "x": 1420,
        "y": 700,
        "wires": []
    },
    {
        "id": "pump_status",
        "type": "ui_text",
        "z": "168235b08353b25f",
        "group": "dashboard_group",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "Pump Status",
        "label": "Pump State:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 1730,
        "y": 960,
        "wires": []
    },
    {
        "id": "debug_water",
        "type": "debug",
        "z": "168235b08353b25f",
        "name": "Debug Water Level",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 510,
        "y": 900,
        "wires": []
    },
    {
        "id": "ccc8828ccecfa2be",
        "type": "function",
        "z": "168235b08353b25f",
        "name": "Extract Level for Chart",
        "func": "msg.payload = msg.payload.level;\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 820,
        "y": 620,
        "wires": [
            [
                "water_chart"
            ]
        ]
    },
    {
        "id": "mqtt_broker_pet",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "77cc33d43e4b436a9e5614150a6050bb.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "tls_config_pet",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "dashboard_group",
        "type": "ui_group",
        "name": "Smart Water System",
        "tab": "dashboard_tab",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "tls_config_pet",
        "type": "tls-config",
        "name": "HiveMQ TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": ""
    },
    {
        "id": "dashboard_tab",
        "type": "ui_tab",
        "name": "Pet Care Dashboard",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "b06657fc80866a9b",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]